{% extends 'base.html' %} {% comment %} extends Base template {% endcomment %}
{% block title %} {{ title }} {% endblock %} {% comment %} block start {% endcomment %} {% block content %} {% comment %} block start {% endcomment %} {% load static %}
<!-- service section strart -->
<section id="about" class="mtop">
  <div class="container">
    <div class="text-center">
      <div class="abt_img my-3">
        <img
          class="img-fluid profileimg rounded-circle w-25"
          src="{{ admin.profile_pic.url }}"
          alt="Profile Image"
        />
      </div>
      <h2 class="title text-dark">{{ admin.title }}</h2>
    </div>
    <div>{{ admin.long_desc|safe }}</div>
  </div>
</section>
<!-- service section end -->

{% endblock %}
