{% extends 'base.html' %} {% block title %} {{ title }} {% endblock %} 
{% block content %} {% load static %}
<!-- portfolio section strart -->
<section id="portfolio">
  <div class="container">
    <div class="portfolio-con text-center">
      <h1 class="portfolio-title">my portfolio</h1>
      <div class="row my-3">
        {% for portfolio in portfolios %}
        <div class="col-md-4 col-sm-6 mb-3">
          <div
            class="port-image"
            data-image="{{ portfolio.image.url }}"
            data-title="{{ portfolio.title }}"
            data-desc="{{ portfolio.description }}"
          >
            <img
              src="{{ portfolio.image.url }}"
              class="img-fluid portImg"
              alt="portfolio image"
            />
          </div>
        </div>
        {% endfor %}
        <!-- image Modal -->
        <div
          class="modal fade"
          id="imgmodalTwo"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button
                  type="button"
                  class="modalclose ml-auto"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="far fa-window-close"></i>
                </button>
              </div>
              <div class="modal-body">
                <img class="modal-port-img img-fluid" src="" alt="" />
              </div>
              <div class="modal-footer justify-content-center">
                <p class="prot-image-footer"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio section end -->
{% endblock %}
